.navbar.navbar-dark {
    border-bottom: none;
}

.legalito-gold {
    color: #87715a;
    font-weight: bolder;
    letter-spacing: 2.5px;
}
.legalito-blue{
    color: #103c58; 
}

.legalito-font {
    font-size: 0.785rem
}

.nav-link {
    font-size: 0.75rem;
    text-transform: capitalize;
}

.img-overlay .img-hover {
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease
}

.img-overlay .img-text {
    color: #fff;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: translateY(10px);
    transition: opacity .5s ease-in-out, transform .5s ease-in-out
}

.img-overlay:hover .img-hover,
.img-overlay:hover .img-text {
    opacity: 1
}

.img-legalito-overlay .img-hover,
.img-legalito-overlay .img-text {
    opacity: 1
}

.img-overlay:hover .img-text {
    transform: translateY(0)
}

.legalito-button {
    width: auto;
    padding: 16px 50px;
    border-radius: 4px;
    border: solid 1px #87715a;
    background-color: #87715a;
    font-size: 16px;
}
.shortened{
    margin: auto;
}

.legalito-button-outline {
    width: auto;
    height: 50px;
    padding: 16px 50px;
    border-radius: 4px;
    border: solid 1px #87715a;
    color: #87715a;
    background-color: transparent;
    font-size: 16px;
}

.legalito-expertise {
    color: #374f5e;
    font-family: Fira Sans;
    font-size: 2rem;
}

.has-bg-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-img-legalito {
    background-image: url('../img/whyus_legalito.png');
}

.card {
    box-shadow: -2px 4px 2px 1px #131313a6;
}
.card-body li{
    font-size: 14px;
}

.card-img-overlay {
    background-color: #081e2cc4;
    color: white;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
.card-img-ovelay-disabled{
    background-color: #081e2ce1;
}

.legalito-check {
    background: #977b5d;
    border-radius: 50%;
    padding: 3px;
    font-size: 14px;
    color: #263542;
}
.text-left{
    text-align:left;
}
.text-right{
    text-align: right;
}